/*! CSS Used from: http://127.0.0.1:5500/css/style.2021091415.css */
a {
  cursor: pointer;
}
.hidden {
  display: none;
}
.lenta__item {
  position: relative;
  margin-bottom: 36px;
}
.lenta-card__title,
.lenta-card__title:visited {
  font: 600 26px/32px "Source Sans Pro", sans-serif;
  margin: 0 0 7px;
  color: #252626;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 128px;
}
.lenta-card__title a,
.lenta-card__title a:visited {
  color: inherit;
  font: 600 20px/24px "Source Sans Pro", sans-serif;
}
.lenta-card__text {
  max-height: 240px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}
.lenta-card__text p {
  font: 18px/24px "Source Sans Pro", sans-serif;
  color: #252626;
  margin: 0;
}
.lenta-card__book-title,
.lenta-card__book-title:visited {
  font: 600 16px/22px "Source Sans Pro", sans-serif;
  color: #252626;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lenta-card__author-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 14px;
  color: #252626;
  margin: 0;
}
.lenta-card__author,
.lenta-card__author:visited {
  color: #252626;
  font: 14px/20px "Source Sans Pro", sans-serif;
}
.lenta-card__rating {
  position: relative;
  font: 300 26px "Source Sans Pro", sans-serif;
  color: #252626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 22px;
}
.lenta-card__rating::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  background: url("../img/SVGsprite13.svg") -252px -182px no-repeat;
  width: 16px;
  height: 16px;
}
.lenta-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 7px;
  width: 100%;
}
.lenta-card__date,
.lenta-card__aliases,
.lenta-card__aliases:visited {
  position: relative;
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #88898c;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lenta-card__aliases {
  padding: 0 22px 0 0;
}
.lenta-card__aliases::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: url("../img/SVGsprite13.svg") -182px -78px no-repeat;
  width: 16px;
  height: 16px;
}
.lenta-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.lenta-card-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 27px 0 0;
}
.lenta-card-book__link {
  position: relative;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 16px;
}
.lenta-card-book__img {
  width: 100%;
  height: auto;
  max-width: 42px;
  max-height: 64px;
  margin: 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 1;
  border-radius: 3px;
}
.lenta-card-book__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 6;
  width: calc(100% - 74px);
  padding: 0 16px 0 0;
  box-sizing: border-box;
}
.lenta-card-book__bg {
  position: absolute;
  -webkit-filter: blur(35px);
  filter: blur(35px);
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.lenta-card__mymark {
  position: relative;
  display: inline-block;
  font: 600 26px/32px "Source Sans Pro", sans-serif;
  padding: 0 5px 0 27px;
}
.lenta-card__mymark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  background: url("../img/SVGsprite13.svg") -112px -182px no-repeat;
  width: 24px;
  height: 24px;
}
.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header-card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-card-user__avatar {
  border-radius: 50%;
  margin: 10px 10px 10px 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  object-fit: cover;
  -o-object-fit: cover;
}
.header-card-user__name,
.header-card-user__name:visited {
  font: 600 14px/16px "Source Sans Pro", sans-serif;
  color: #252626;
  margin: 0 3px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
.header-card__category,
.header-card__category:visited {
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #88898c;
  margin: 0 auto 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% - 135px);
  margin-right: auto;
}
.header-card__row1,
.header-card__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header-card-user__class {
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #252626;
  margin: 0 3px 0 0;
}
.header-card-user__status {
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #88898c;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-card__menu {
  width: 16px;
  height: 16px;
  padding: 10px 3px 10px 15px;
  position: relative;
}
.header-card__menu::after {
  position: absolute;
  content: "";
  top: 16px;
  right: 9px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #88898c;
  -webkit-box-shadow: 0 -6px 0 0 #88898c, 0 6px 0 0 #88898c;
  box-shadow: 0 -6px 0 0 #88898c, 0 6px 0 0 #88898c;
}
.header-card__menu-block {
  display: none;
  position: absolute;
  padding: 0 12px;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 20px;
  right: 22px;
  top: -1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  z-index: 11;
}
.header-card__menu-block a,
.header-card__menu-block a:visited {
  font: 16px/37px "Source Sans Pro", sans-serif;
  color: #252626;
  border-bottom: 1px solid #dcdee0;
  width: 100%;
  text-align: center;
  padding: 0 12px 2px;
}
.header-card__menu-block a:hover {
  background-color: #edf0f7;
}
.header-card__menu:hover .header-card__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-add-plus {
  position: relative;
  border-radius: 16px;
  border: 1px solid #3e99ed;
  background-color: #3e99ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  width: 100%;
}
.btn-add-plus:hover {
  border-color: #3b91e0;
  background-color: #3b91e0;
}
.btn-add-plus::before {
  position: absolute;
  content: "Добавить";
  font: 600 16px/16px "Source Sans Pro", sans-serif;
  color: #fff;
  height: 18px;
  left: calc(50% - 27px);
  top: 0;
  bottom: 0;
  margin: auto;
}
.btn-add-plus::after {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: calc(50% - 53px);
  background: url("../img/SVGsprite13.svg") -114px -156px no-repeat;
}
.review-card .btn-add-plus {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 48px;
}
.review-card .btn-add-plus:hover {
  border: none;
  background: transparent;
}
.review-card .btn-add-plus::before {
  display: none;
}
.review-card .btn-add-plus::after {
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: url("../img/SVGsprite13.svg") 0 -210px no-repeat;
}
.review-card .btn-add-plus::after {
  background: url("../img/SVGsprite13.svg") -68px -210px no-repeat;
}
.review-card .lenta-card__rating {
  position: absolute;
  bottom: 128px;
  padding: 0 0 0 27px;
}
.review-card .lenta-card__rating::before {
  width: 24px;
  height: 24px;
}
.review-card .lenta-card__rating::before {
  background: url("../img/SVGsprite13.svg") -166px -182px no-repeat;
}
.review-card .lenta-card {
  padding: 0 12px;
}
.review-card .lenta-card-book {
  overflow: hidden;
  position: relative;
  margin: 0 -12px 8px;
  height: 304px;
  border-radius: 32px;
}
.review-card .lenta-card-book::after {
  content: "";
  background: #e6f7ff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
}
.review-card .lenta-card-book__link {
  height: 100%;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  z-index: 5;
}
.review-card .lenta-card-book__wrapper {
  width: calc(50% + 16px);
}
.review-card .lenta-card-book__img {
  border-radius: 8px;
  margin: auto;
  max-width: 170px;
  max-height: 256px;
}
.review-card .lenta-card__book-title {
  font-size: 20px;
  line-height: 26px;
  max-height: 52px;
  margin: 52px 24px 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.review-card .lenta-card__author-wrap {
  font-size: 16px;
  line-height: 26px;
  margin: 0 24px 12px 0;
}
.review-card .lenta-card__author {
  font-size: 16px;
}
.review-card .lenta-card__book-title,
.review-card .lenta-card__author,
.review-card .lenta-card__author-wrap,
.review-card .lenta-card__rating {
  color: $dark_main;
}
.main-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 0 58px;
  width: 100%;
}
.main-block__wrapper {
  width: 100%;
  overflow: hidden;
}
.main-block__limiter {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  margin-bottom: -20px;
}
.main-block__list {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 16px;
  padding: 0;
}
.main-block__item {
  width: 352px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 20px;
  margin: 0;
}
.main-block__link,
.main-block__link:visited {
  font: 18px/24px "Source Sans Pro", sans-serif;
  border: 1px solid #88898c;
  color: #6f7073;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 0 2px;
  margin: 24px 16px 0 10px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-block__link:hover {
  background: rgba(237, 240, 247, 0.5);
}
.main-block__write,
.main-block__write:visited {
  font: 600 18px/24px "Source Sans Pro", sans-serif;
  background: #3e99ed;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 40px;
  padding: 0 0 2px;
  margin: 24px 16px 0;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-block__write:hover {
  background: #3b91e0;
}
.main-block__list .review-card .btn-add-plus::after {
  width: 24px;
  height: 24px;
  background: url("../img/SVGsprite13.svg") -1px -27px no-repeat;
}
.main-block__list .review-card .btn-add-plus {
  width: 24px;
  height: 24px;
  bottom: 24px;
}
.main-br .lenta-card-book__img {
  border-radius: 18px;
  max-width: 108px;
  max-height: 168px;
}
.main-br .lenta-card__rating {
  bottom: 88px;
}
.main-br .lenta-card-book__wrapper {
  width: calc(50% + 12px);
}
.main-block .lenta-card__details {
  margin: 0 0 8px;
}
.main-br .lenta-card-book {
  height: 208px;
}
.main-br .lenta-card__author {
  font-size: 14px;
  line-height: 16px;
}
.main-br .lenta-card__author-wrap {
  font-size: 14px;
  line-height: 16px;
}
.main-br .lenta-card__mymark {
  line-height: 24px;
  padding: 0 5px 0 24px;
}
.main-br .lenta-card__mymark::before {
  top: 0;
}
.main-br .lenta-card__book-title {
  font: 600 14px/16px "Source Sans Pro", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  max-height: 32px;
  margin: 23px 0 0 0px;
}
.main-block .lenta-card__text {
  max-height: 240px;
}
.main-block__list .lenta-card__title {
  -webkit-line-clamp: 2;
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 10px;
}
.btn__read-more,
.btn__read-more:visited {
  color: #88898c;
  font: 18px/24px "Source Sans Pro", sans-serif;
}
.slider-toggle {
  display: none;
}
.slider-btn__prev label,
.slider-btn__next label {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 178px;
  border: none;
  background: linear-gradient(180deg, #f8db73 0%, #f7bb4e 100%), #ffffff;
  z-index: 10;
  padding: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  display: none;
}
.slider-btn__prev label {
  left: -4px;
}
.slider-btn__next label {
  right: -4px;
}
.slider-btn__prev label::after,
.slider-btn__next label::after {
  position: absolute;
  content: "";
  border-left: 1.3px solid #000;
  border-top: 1.3px solid #000;
  width: 9px;
  height: 9px;
  top: 15px;
  left: 12px;
}
.slider-btn__prev label::after {
  left: 18px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.slider-btn__next label::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
@media (min-width: 1140px) {
  .header-card-user__name {
    max-width: 300px;
  }
  .main-block__list {
    margin: 0;
  }
  .main-block__item {
    width: 364px;
    padding-right: 24px;
  }
  .main-block__link,
  .main-block__write {
    margin: 24px 0 0;
  }
  .main-block .slider-btn__prev label {
    left: -20px;
  }
  .main-block .slider-btn__next label {
    right: -20px;
  }
  .slider-toggle:nth-child(1):checked ~ .slider-btn__next label:nth-child(2),
  .slider-toggle:nth-child(2):checked ~ .slider-btn__next label:nth-child(3),
  .slider-toggle:nth-child(2):checked ~ .slider-btn__prev label:nth-child(1),
  .slider-toggle:nth-child(3):checked ~ .slider-btn__prev label:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-toggle:nth-child(1):checked
    ~ div[class$="limiter"]
    ul[class$="list"] {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .slider-toggle:nth-child(2):checked
    ~ div[class$="limiter"]
    ul[class$="list"] {
    -webkit-transform: translate(-646px);
    transform: translate(-646px);
  }
  .slider-toggle:nth-child(3):checked
    ~ div[class$="limiter"]
    ul[class$="list"] {
    -webkit-transform: translate(-1292px);
    transform: translate(-1292px);
  }
  .main-block
    .slider-toggle:nth-child(1):checked
    ~ .main-block__limiter
    .main-block__list {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .main-block
    .slider-toggle:nth-child(2):checked
    ~ .main-block__limiter
    .main-block__list {
    -webkit-transform: translate(-1164px);
    transform: translate(-1164px);
  }
  .main-block
    .slider-toggle:nth-child(3):checked
    ~ .main-block__limiter
    .main-block__list {
    -webkit-transform: translate(-2328px);
    transform: translate(-2328px);
  }
}
.hidden {
  display: none !important;
}
.main-block__list .review-card .btn-add-plus {
  width: 24px;
  height: 24px;
  bottom: 24px;
}
.userbook-container {
  position: initial !important;
  display: contents;
}
/*! CSS Used from: http://127.0.0.1:5500/css/style.css */
.main-wrapper h3 {
  font: 600 32px/48px "Source Sans Pro", sans-serif;
}
.main-wrapper .reviews-wrapper .main-block__wrapper {
  max-width: 1140px;
}
a {
  color: #3e99ed;
  text-decoration: none;
}
@media (max-width: 480px) {
  h3 {
    font: 700 28px/36px "Source Sans Pro", sans-serif !important;
  }
}

@media (max-width: 768px) {
  /*! CSS Used from: https://s.livelib.ru/skins/mobile2016/css/style.2021091415.css */
  div,
  span,
  h2,
  h3,
  p,
  a,
  i,
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
  }
  ul {
    list-style: none;
  }
  :focus {
    outline: 0;
  }
  h2 {
    font-size: 18px;
    margin: 5px 16px;
    font-weight: normal;
  }
  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    margin-bottom: 8px;
  }
  h2 a,
  h2 a:visited {
    color: #39424c;
  }
  p {
    font-size: 100%;
    line-height: 140%;
    margin-bottom: 10px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  a img {
    border: 0;
    text-decoration: none;
  }
  a {
    color: #0768d8;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:visited {
    color: #8441a5;
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  .userbook-container {
    position: relative;
    text-align: left;
  }
  @media (min-width: 375px) {
    h2 {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
  @media (min-width: 475px) {
    h2 {
      margin-left: 32px;
      margin-right: 32px;
    }
  }
  @media (min-width: 575px) {
    h2 {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  @media (min-width: 675px) {
    h2 {
      margin-left: 48px;
      margin-right: 48px;
    }
  }
  @media (min-width: 775px) {
    h2 {
      margin-left: 56px;
      margin-right: 56px;
    }
  }
  @media (min-width: 875px) {
    h2 {
      margin-left: 64px;
      margin-right: 64px;
    }
  }
  @media (min-width: 975px) {
    h2 {
      margin-left: 72px;
      margin-right: 72px;
    }
  }
  .btn-add-plus::after {
    position: absolute;
    content: "";
    height: 11px;
    width: 2.5px;
    top: 7px;
    left: 17px;
    background-color: #fff;
    border-radius: 1.5px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  .review-card .btn-add-plus {
    content: "";
    width: 24px;
    height: 24px;
    border: 1px solid #b2af8e;
    background-color: #b2af8e;
    padding: 0;
  }
  .review-card .btn-add-plus i {
    display: none;
  }
  .review-card .btn-add-plus::before,
  .review-card .btn-add-plus::after {
    height: 16px;
    width: 3px;
    top: 3px;
    left: 9.5px;
  }
  a:visited {
    color: #217dd1;
  }
  /*! CSS Used from: https://s.livelib.ru/skins/mobile2019/css/style.2021091415.css */
  a {
    cursor: pointer;
  }
  .lenta-card__title,
  .lenta-card__title:visited {
    font: 600 18px/24px "Source Sans Pro", sans-serif;
    margin: 0 0 8px;
    color: #252626;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 96px;
  }
  .lenta-card__title a,
  .lenta-card__title a:visited {
    color: inherit;
    font: 600 20px/24px "Source Sans Pro", sans-serif;
  }
  .lenta-card__text {
    position: relative;
    max-height: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
  }
  .lenta-card__text p {
    font: 16px/24px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 0;
  }
  .lenta-card__book-title,
  .lenta-card__book-title:visited {
    display: block;
    font: 600 14px/16px "Source Sans Pro", sans-serif;
    color: #252626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .lenta-card__author-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    line-height: 16px;
    font-size: 14px;
    color: #252626;
  }
  .lenta-card__author,
  .lenta-card__author:visited {
    color: #252626;
    font: 14px/16px "Source Sans Pro", sans-serif;
  }
  .lenta-card__rating {
    position: relative;
    font: 300 20px/24px "Source Sans Pro", sans-serif;
    color: #252626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 20px;
  }
  .lenta-card__rating::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    background: url("../img/SVGsprite13.svg") -252px -182px no-repeat;
    width: 16px !important;
    height: 16px !important;
  }
  .lenta-card__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 6px;
    width: 100%;
  }
  .lenta-card__date,
  .lenta-card__aliases,
  .lenta-card__aliases:visited {
    position: relative;
    font: 14px/16px "Source Sans Pro", sans-serif;
    color: #88898c;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .lenta-card__aliases {
    padding: 0 20px 0 0;
  }
  .lenta-card__aliases::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: url("../img/SVGsprite13.svg") -182px -78px no-repeat;
    width: 16px;
    height: 16px;
  }
  .lenta-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }
  .lenta-card-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 21px 0 0;
  }
  .lenta-card-book__link {
    position: relative;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 3px 12px 5px 8px;
  }
  .lenta-card-book__img {
    width: 100%;
    height: auto;
    max-width: 42px;
    max-height: 64px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 3px;
  }
  .lenta-card-book__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 6;
    width: calc(100% - 62px);
    padding: 0 16px 0 0;
    box-sizing: border-box;
  }
  .lenta-card-book__bg {
    position: absolute;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    z-index: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .lenta-card__mymark {
    position: relative;
    display: inline-block;
    font: 600 20px/22px "Source Sans Pro", sans-serif;
    padding: 0 4px 0 20px;
  }
  .lenta-card__mymark::before {
    position: absolute;
    content: "";
    top: 4px !important;
    left: 0;
    background: url("../img/SVGsprite13.svg") -216px -182px no-repeat;
    width: 16px;
    height: 16px;
  }
  .header-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  .header-card-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-card-user__avatar {
    border-radius: 50%;
    margin: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    object-fit: cover;
    -o-object-fit: cover;
  }
  .header-card-user__name,
  .header-card-user__name:visited {
    font: 600 14px/16px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 0 3px 0 0;
  }
  .header-card__category,
  .header-card__category:visited {
    font: 14px/16px "Source Sans Pro", sans-serif;
    color: #88898c;
    margin: 0 auto 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header-card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 135px);
    margin-right: auto;
  }
  .header-card__row1,
  .header-card__row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .header-card-user__class {
    font: 14px/16px "Source Sans Pro", sans-serif;
    color: #252626;
    margin: 0 3px 0 0;
  }
  .header-card-user__status {
    font: 14px/16px "Source Sans Pro", sans-serif;
    color: #88898c;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header-card__menu,
  .header-card__menu:visited {
    width: 24px;
    height: 24px;
    margin: 0 0 0 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    padding: 0;
  }
  .header-card__menu::after {
    position: absolute;
    content: "";
    top: 11px;
    left: 10px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #88898c;
    -webkit-box-shadow: 0 -6px 0 0 #88898c, 0 6px 0 0 #88898c;
    box-shadow: 0 -6px 0 0 #88898c, 0 6px 0 0 #88898c;
  }
  .header-card__menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 24px 24px 0 0;
    bottom: 0px;
    left: 0;
    z-index: 11;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    background-color: #fff;
  }
  .header-card__menu-block a,
  .header-card__menu-block a:visited {
    font: 16px/16px "Source Sans Pro", sans-serif;
    color: #252626;
    height: 36px;
    padding-bottom: 3px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dcdee0;
  }
  .header-card__menu-block a:first-of-type {
    margin-top: 11px;
  }
  .header-card__menu-block a:last-of-type {
    margin-bottom: 38px;
  }
  .header-card__menu-block a:hover,
  .header-card__menu-block a:focus {
    background-color: #edf0f7;
  }
  .btn-add-plus {
    position: relative;
    border-radius: 14px;
    border: 1px solid #3e99ed;
    background-color: #3e99ed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 28px;
    width: 100%;
  }
  .btn-add-plus::before {
    position: absolute;
    content: "Добавить";
    font: 600 14px/16px "Source Sans Pro", sans-serif;
    color: #fff;
    top: 0;
    bottom: 0;
    height: 18px;
    margin: auto;
    left: calc(50% - 23px);
  }
  .btn-add-plus::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(50% - 48px);
    background: url("../img/SVGsprite13.svg") -114px -156px no-repeat;
  }
  .review-card .btn-add-plus {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
  }
  .review-card .btn-add-plus::before {
    display: none;
  }
  .review-card .btn-add-plus::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: url("../img/SVGsprite13.svg") 0 -26px no-repeat;
  }
  .review-card .btn-add-plus::after {
    background: url("../img/SVGsprite13.svg") -104px -104px no-repeat;
  }
  .review-card .lenta-card__rating {
    position: absolute;
    top: 79px;
    padding: 0 0 0 20px;
  }
  .review-card .lenta-card {
    padding: 0 8px;
  }
  .review-card .lenta-card-book {
    overflow: hidden;
    position: relative;
    margin: 0 -8px 8px;
    height: 184px;
    border-radius: 32px;
  }
  .review-card .lenta-card-book::after {
    content: "";
    background: #e6f7ff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
  }
  .review-card .lenta-card-book__link {
    height: 100%;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 5;
  }
  .review-card .lenta-card-book__wrapper {
    width: calc(50% + 12px);
  }
  .review-card .lenta-card-book__img {
    border-radius: 6px;
    margin: auto;
    max-width: 93px;
    max-height: 144px;
  }
  .review-card .lenta-card__book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    max-height: 32px;
    margin: 23px 16px 0 0;
  }
  .review-card .lenta-card__author-wrap {
    margin: 0 16px 8px 0;
  }
  .review-card .lenta-card__book-title,
  .review-card .lenta-card__author-wrap,
  .review-card .lenta-card__rating {
    color: $dark_main;
  }
  .review-card .lenta-card__author {
    color: $dark_main;
    width: 100%;
    margin-bottom: auto;
  }
  .review-card .lenta-card__rating::before {
    background-position: -253px -182px;
  }
  .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 0 39px;
    max-width: 500px !important;
  }
  .main-block__title {
    font: 600 25px/32px "Source Sans Pro", sans-serif;
    margin: 0 0 5px 16px;
    width: calc(100% - 130px);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-block__title a,
  .main-block__title a:visited {
    color: #252626;
  }
  .main-block__show-all,
  .main-block__show-all:visited {
    color: #0f5699;
    font: 14px/16px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    text-align: end;
    margin: 0 16px 9px 0;
    max-width: 98px;
  }
  .main-block__wrapper {
    width: 100%;
    overflow: hidden;
  }
  .main-block__limiter {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
  .main-block__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .main-block__item {
    width: calc(100% - 24px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 16px;
    margin: 0;
  }
  .main-block__write,
  .main-block__write:visited {
    font: 600 14px/24px "Source Sans Pro", sans-serif;
    background: #3e99ed;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 162px;
    height: 32px;
    padding: 0 0 3px;
    margin: 16px 0 0 16px;
    border-radius: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-block__write:hover {
    background: #3b91e0;
  }
  .main-block__link,
  .main-block__link:visited {
    font: 14px/24px "Source Sans Pro", sans-serif;
    border: 1px solid #88898c;
    color: #6f7073;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 116px;
    height: 32px;
    padding: 0 0 2px;
    margin: 16px 16px 0 0;
    border-radius: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-block__link:active {
    background: rgba(237, 240, 247, 0.5);
  }
  .main-block .review-card .lenta-card-book__wrapper {
    width: calc(50% + 8px);
  }
  .main-block .review-card .lenta-card__rating {
    top: 80px;
  }
  .main-block .review-card .lenta-card__book-title {
    margin: 23px 16px 0 0;
  }
  .main-block__list > *:not(.selection-card) .lenta-card__title {
    -webkit-line-clamp: 2;
    height: 48px;
  }
  .btn__read-more,
  .btn__read-more:visited {
    color: #88898c;
    font: 16px/24px "Source Sans Pro", sans-serif;
  }
  .header-card__menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    background: #fff;
    border-radius: 20px 20px 0 0;
    width: 100%;
    transition: height 1s ease;
    color: #252626;
  }
  .header-card__menu-block {
    z-index: 1001;
  }
  .header-card__menu-block {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .header-card__menu-block a:first-of-type {
    margin-top: 0px;
  }
  .header-card__menu-block a:last-of-type {
    margin-bottom: 0px;
  }
  .header-card__menu-block:not(span) > a:first-child {
    margin-top: 11px;
  }
  .header-card__menu-block a:last-child {
    margin-bottom: 38px;
  }
  .userbook-container {
    position: initial !important;
  }
  .header-card-user__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /*! CSS Used from: https://s.livelib.ru/skins/mobile2019/css/addbook2019.2021091415.css */
  a:visited {
    opacity: 1;
  }
  /*! CSS Used from: https://s.livelib.ru/skins/mobile2019/css/header.2021091415.css */
  .header-card__menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    background: #fff;
    border-radius: 20px 20px 0 0;
    width: 100%;
    transition: height 1s ease;
    color: #252626;
  }
  .header-card__menu-block {
    z-index: 1002;
  }
  .header-card__menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    background: #fff;
    border-radius: 20px 20px 0 0;
    width: 100%;
    transition: height 1s ease;
    color: #252626;
  }
  .header-card__menu-block {
    z-index: 1002;
  }
  /*! CSS Used from: https://s.livelib.ru/css/userbookform2020mob-v3.2021091415.css */
  * {
    -webkit-tap-highlight-color: transparent;
  }
  :focus {
    outline: 0;
  }
}
